<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reconocimiento Facial</title>
    <script src="public/js/face-api.min.js" defer></script>
    <script src="public/js/script.js" defer></script>
    <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
    <video id="video" autoplay muted width="720" height="540"></video>

    <button id="loadfaces">load face</button>
</body>
</html>